@model RollNRunWeb.Models.SubforoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubforoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguidores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguidores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumEntradas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumEntradas)
        </dd>

        <dd>
            @{ Html.RenderAction("Comentarios", "Subforo", new { id = Model.id });}
        </dd>

        <dd>
            @{ Html.RenderAction("Comentar", "Subforo", new { id = Model.id });}
        </dd>

        <dd>
            @Html.ActionLink("Seguir", "Seguir", new { id = Model.id })
        </dd>

        <dd>
            @Html.ActionLink("Dejar de Seguir", "DejarSeguir", new { id = Model.id })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>