@model IEnumerable<RollNRunWeb.Models.ProductoViewModel>

@{
    ViewBag.Title = "ListaDeseados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Deseados</h2>

<div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <table class="table">

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img width="60" class="img-responsive" src="@Html.DisplayFor(modelItem => item.imagen)" />
                        </td>

                        <td>
                            <p>@Html.ActionLink(item.nombre, "Details", new { id = item.id })</p>
                            <p>@Html.DisplayFor(modelItem => item.marca)</p>
                        </td>

                        <td>
                            @if (item.oferta > 0)
                            {
                                double sale = Double.Parse(item.precio.Replace(".", ",")) - (Double.Parse(item.precio.Replace(".", ",")) * (item.oferta / 100));
                                sale = (double)(Math.Round((double)sale, 2));

                                <p>
                                    <del>@Html.DisplayFor(modelItem => item.precio)</del>
                                    <u>Oferta @Html.DisplayFor(modelItem => item.oferta) %</u>
                                </p>
                                <p>
                                    @sale.ToString().Replace(",", ".") €
                                </p>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.precio)
                            }
                        </td>

                        <td>
                            <button>@Html.ActionLink("Quitar de Deseados", "QuitarDeseado", new { id = item.id })</button>
                        </td>
                    </tr>
                    }
                </table>

            </div>
        </div>
    </div>